@use '../styles/abstracts/variables' as *;

.exec-summary__row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-4;

  &--full {
    grid-template-columns: minmax(0, 48%);
  }
}
